*{
    font-family: Montserrat, sans-serif;
    background-color: #fff;
}
#welcome{
    display: flex;
    color: #0d0d0d24;
    padding-top: 10%;
    font-size: 100px;
    margin-left: 75px;
    margin-right: 100px;
}
h1{
    display: flex;

}
/*
input {
    display: flex;
    justify-content: center;
    margin-left: 600px;

}

 */


.choose-chassis-number-damage{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    font-size: 40px;
    margin: 2.5% 50% 1%;

}

.tabel {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 300px;
}

.whiteboard{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 300px;
    padding-top: 100px;
    padding-bottom: 5px;
}

.receipt{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    flex-direction: column;
    justify-content: flex-start;
}

table{
    border-collapse: collapse;
    width: 100%;
}

table, td, th{
    text-align: left;
    border: 2px solid black;
    background-color: #f2f2f2;
}
th, td {
    padding: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
