<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Startside</title>
    <link rel="stylesheet" th:href="@{fragment.css}"  type="text/css">

</head>
<body>

<nav id="navigator">
    <!--Side navigator -->
    <section class="section 1">

        <nav class="side-nav">

            <div class="homepage ">
                <a href="homepage">
                    <img id="home"  src="pictures/homethree.png">
                </a>
            </div>


            <div class="nav-valg ">
                <h3>Dataregistrering</h3>
                <a id="indkøb-bil" href="registernewcartofleet">Opret indkøbt bil</a>
                <a id="ny-lejeaftale" href="register-car">Ny lejeaftale</a>
                <a id="forhåndsaftale" href="selectchassisnumber?key=2">Opret ny forhåndsaftale</a>
                <a id="bilsolgt" href="selectchassisnumber?key=4">Sælg bil</a>
            </div>

            <br>

            <div class="nav-valg">
                <h3>Skade & Udbedring</h3>
                <a id="registrer-bil-modtaget" href="selectchassisnumberreturn?key=3">Modtaget bil retur</a>

                <a id="fejl-og-mangler" href="selectchassisnumber?key=1">Opret fejl og mangler</a>

            </div>

            <br>

            <div class="nav-valg">
                <h3>Forretningsudviklere</h3>
                <a id="all-cars" href="all-cars">Oversigt over alle biler</a>
                <a id="rented-cars" href="rented-cars">Oversigt over udlejede biler</a>
                <a id="available-cars" href="available-cars">Oversigt over ledige biler</a>
                <a id="finance" href="finance">Total pris på udlejede biler</a>
            </div>

            <div class="nav-valg">
                <a id="logud" href="/">Log ud</a>
            </div>

        </nav>

        <section class="board">

            <div class="logo">
                <img id="logo" src="pictures/Logo-bilabonnement.png" alt="">
            </div>

        </section>

    </section>


</nav>



</body>
</html>