<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Startside</title>
    <link rel="stylesheet" th:href="@{fragment.css}"  type="text/css">

</head>
<body>
<br>

<nav id="navigator">
    <!--Side navigator -->
    <section class="section 1">

        <nav class="side-nav">

            <div class="nav-valg ">
                <a href="homepage">
                    <img id="home"  src="pictures/homethree.png">
                </a>
                <a href="/">Log Ud</a>
            </div>


            <div class="nav-valg ">
                <h3>Dataregistrering</h3>
                <a href="registernewcartofleet">Registrer indkøbt bil</a>
                <a href="register-car">Registrer ny lejeaftale</a>
                <a href="selectchassisnumber?key=2">Registrer ny forhåndsaftale</a>
            </div>

            <br>

            <div class="nav-valg">
                <h3>Skade & Udbedring</h3>
                <a href="selectchassisnumberreturn?key=3">Registrer bil modtaget retur</a>  <!-- Mangler INDSÆT href-->
                <a href="selectchassisnumber?key=1">Registrer fejl og mangler</a>
            </div>

            <br>

            <div class="nav-valg">
                <h3>Forretningsudviklere</h3>
                <a href="all-cars">Vis oversigt over Alle biler</a>
                <a href="rented-cars">Vis oversigt over udlejede biler</a>
                <a href="available-cars">Vis oversigt over ledige biler</a>
                <a href="finance">Vis pris på udlejede biler</a>
            </div>

        </nav>

    </section>

    <section class="board">

        <div class="logo">
            <img id="logo"  src="pictures/Logo-bilabonnement.png">
        </div>

    </section>
</nav>

</body>
</html>