<!--Udarbejdet af Simon-->
<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Nyindkøbt bil registrering</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{style.css}"  type="text/css">
    <link rel="stylesheet" th:href="@{fragment.css}"  type="text/css">


</head>

<body>

<nav>
    <th:block th:replace="fragments/navigator :: nav"></th:block>
</nav>

<div class="whiteboard">
    <div class="tabel">
        <h1>Registrerings formular</h1>
        <div th:text="${errormessage}" th:if="${errormessage}" style="color: red"></div>
        <div class="form-purchase-car">
            <form action="#" th:action="@{/registernewcartofleet}" th:object="${car}" method="post">
                <p>Vognnummer</p>
                <input type="text" th:field="*{wagonNumber}" class="inputstyle" />
                <p>Stelnummer</p>
                <input type="text" th:field="*{chassisNumber}" class="inputstyle"/> <br>
                <p>Mærke</p>
                <input type="text" th:field="*{manufacturer}" class="inputstyle"/> <br>
                <p>Model</p>
                <input type="text" th:field="*{model}" class="inputstyle"/><br>
                <p>Farve</p>
                <input type="text" th:field="*{color}"class="inputstyle"/> <br>
                <p>Udstyrsniveau</p>
                <input type="text" th:field="*{equipmentLevel}"class="inputstyle"/> <br>
                <p>Stålpris</p>
                <input type="text" th:field="*{steelPrice}"class="inputstyle"/> <br>
                <p>Reg. afgift</p>
                <input type="text" th:field="*{registrationFee}" class="inputstyle"/> <br>
                <p>CO2-udledning</p>
                <input type="text" th:field="*{carbonEmission}" class="inputstyle"/><br>

                <input type="submit" value="Gem" class="buttom"/>
                <input type="reset" value="Nulstil felterne" class="buttom"/>
            </form>
        </div>
    </div>
</div>
</div>

<script>
    document.getElementById('indkøb-bil').style.backgroundColor='white';
</script>

</body>
</html>
