<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrer Abonnement</title>
    <link rel="stylesheet" th:href="@{style.css}"  type="text/css">
    <link rel="stylesheet" th:href="@{fragment.css}"  type="text/css">

</head>
<body>
<nav>
    <th:block th:replace="fragments/navigator :: nav"></th:block>
</nav>
<div class="whiteboard">
    <div class="tabel">
    <h1>Registrer bruger info</h1>
        <div th:text="${error}" th:if="${error}" style="color: red"></div>
        <form action="/get-renter-information" method="post">
            Fornavn
            <br>
            <input type="text" name="firstName">
            <br>
            Efternavn
            <br>
            <input type="text" name="lastName">
            <br>
            Adresse
            <br>
            <input type="text" name="address">
            <br>
            Postnummer
            <br>
            <input type="number" name="postcode">
            <br>
            By
            <br>
            <input type="text" name="city">
            <br>
            Email
            <br>
            <input type="email" name="email">
            <br>
            Telefon nummer
            <br>
            <input type="number" name="tlf">
            <br>
            CPR-nummer
            <br>
            <input type="text" name="cpr" placeholder="XXXXXX-XXXX">
            <br>
            Reg.nr
            <br>
            <input type="number" name="regNumber" PLACEHOLDER="XXXX">
            <br>
            Konto nummer
            <br>
            <input type="number" name="accountNumber" PLACEHOLDER="XXXXXXXXXX">
            <br>
            <input type="submit" class="buttom">
        </form>
    </div>
</div>

</body>
</html>