<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrer Abonnement</title>
    <link rel="stylesheet" th:href="@{style.css}"  type="text/css">
    <link rel="stylesheet" th:href="@{fragment.css}"  type="text/css">

</head>
<body>
<nav>
    <th:block th:replace="fragments/navigator :: nav"></th:block>
</nav>
<div class="whiteboard">
    <h1>HAlli hallo og lige et øjeblik !!!!!!!!!!!!!!!!!!!!!!!!!</h1>
    <h1>Registrer bruger info</h1>
    <br>
    <br>
    <form action="/get-renter-information" method="post">
        fornavn
        <br>
        <input type="text" name="firstName">
        <br>
        efternavn
        <br>
        <input type="text" name="lastName">
        <br>
        adresse
        <br>
        <input type="text" name="address">
        <br>
        postnummer
        <br>
        <input type="number" name="postcode">
        <br>
        by
        <br>
        <input type="text" name="city">
        <br>
        email
        <br>
        <input type="email" name="email">
        <br>
        telefon nummer
        <br>
        <input type="number" name="tlf">
        <br>
        cpr-nummer
        <br>
        <input type="text" name="cpr" placeholder="XXXXXX-XXXX">
        <br>
        registrering nummer
        <br>
        <input type="number" name="regNumber" PLACEHOLDER="XXXX">
        <br>
        konto nummer
        <br>
        <input type="number" name="accountNumber" PLACEHOLDER="XXXXXXXXXX">
        <br>
        <input type="submit">
    </form>

</div>

</body>
</html>