<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrer Abonnement</title>
    <link rel="stylesheet" th:href="@{style.css}"  type="text/css">

</head>
<body>
<div>
    <h1>Registrer bruger info</h1>
    <br>
    <br>
    <form action="/get-renter-information" method="post">
        fornavn
        <br>
        <input type="text" name="firstName">
        <br>
        efternavn
        <br>
        <input type="text" name="lastName">
        <br>
        adresse
        <br>
        <input type="text" name="address">
        <br>
        postnummer
        <br>
        <input type="number" name="postcode">
        <br>
        by
        <br>
        <input type="text" name="city">
        <br>
        email
        <br>
        <input type="email" name="email">
        <br>
        telefon nummer
        <br>
        <input type="number" name="tlf">
        <br>
        cpr-nummer
        <br>
        <input type="number" name="cpr">
        <br>
        registrering nummer
        <br>
        <input type="number" name="regNumber">
        <br>
        konto nummer
        <br>
        <input type="number" name="accountNumber">
        <br>
        <input type="submit">
    </form>

</div>

</body>
</html>