<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Rapporter Skade</title>
    <link rel="stylesheet" th:href="@{style.css}"  type="text/css">
</head>
<body>

<img src="../static/pictures/Logo-bilabonnement.png" height="160" width="1000"/></body>
<div class="choose-chassis-number-damage">
    <form method="POST" action="/damagechassisnumber">
        <label>Indtast stelnummer på bil:</label>
        <br>
        <br>
        <input type="text" name="chassis-number">
        <br>
        <br>
        <input type="submit" value="Gå Videre" class="buttom">
    </form>

</div>
</html>