<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrer Abonnement</title>
    <link rel="stylesheet" th:href="@{style.css}"  type="text/css">

</head>
<body>
<div class="whiteboard">
<div class="tabel">
<form action="/registerdamage" method="post">
<h1>Register Skade</h1>

<table>
    <tr>
        <th>Skade</th>
        <th>Pris</th>
    </tr>
    <tr>
        <td><input name="defectDescription" th:value="defectDescription"></td>

    </tr>
    <tr>
        <td><input name="defectDescription" th:value="price"></td>
    </tr>

    <br>


</table>
<div>
<br>
        <input type="submit" value="Næste skade">
</div>


<form action="/succesdamage" method="get">
    <input type="submit" value="Færdig med registrering">
</form>
</form>
</div>
</div>
</body>
</html>