<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Skade</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{style.css}"  type="text/css">
    <link rel="stylesheet" th:href="@{fragment.css}"  type="text/css">

</head>
<body>

<br>
<!--Side navigator -->

<nav>
    <th:block th:replace="fragments/navigator :: nav"></th:block>
</nav>

<div class="whiteboard">
    <div class="receipt">

        <h1>Bilens nuværende skader</h1>
        <form class="receipt-form">
            <table class="skema">
        <thead>
        <tr>
            <th> Skade </th>
            <th> Pris </th>
        </tr>
        </thead>
        <tbody>
       <tr th:each="damages : ${damagesforcar}">
            <td th:text="${damages.defectDescription}"> Skade </td>
            <td th:text="${damages.price}"> Pris </td>
        </tr>
        </tbody>
    </table>
        </form>
<h1>Tilføj skade:</h1>
        <div th:text="${error}" th:if="${error}" style="color: red"></div>
<form action="#" th:action="@{'/damage?chassisnumber='+${chassisnumber}}" th:object="${damage}" method="post">

    <p>Beskrivelse: </p>
    <input class="inputstyle" type="text" th:field="*{defectDescription}" />
    <p>Pris: </p>
    <input class="inputstyle" type="text" th:field="*{price}"/>

    <p>
        <input type="submit" value="Gem" class="buttom"/>
        <input type="reset" value="Nulstil felterne"  class="buttom"/>
    </p>
</form>

</div>
</div>
</div>
</body>
</html>