<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Skade</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{style.css}"  type="text/css">
    <link rel="stylesheet" th:href="@{fragment.css}"  type="text/css">

</head>
<body>

<br>
<!--Side navigator -->

<nav>
    <th:block th:replace="fragments/navigator :: nav"></th:block>
</nav>

<div class="whiteboard">
    <div class="tabel">
<h1>Skade formular</h1>
        <div th:text="${error}" th:if="${error}" style="color: red"></div>
        <p th:name="carid" th:value="${carid}"></p>
<form action="#" th:action="@{'/damage?carid='+${carid}}" th:object="${damage}" method="post">
    <p>Beskrivelse: <input type="text" th:field="*{defectDescription}" /></p>
    <p>Pris: <input type="text" th:field="*{price}"/></p>
    <p><input type="submit" value="Gem" /> <input type="reset" value="Nulstil felterne" /></p>
    <a href="/"><button class="goto_button">
        Hjem
    </button>
</form>
</div>
</div>
</div>
</body>
</html>