<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Stelnummer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{fragment.css}"  type="text/css">
    <link rel="stylesheet" th:href="@{style.css}" type="text/css">

</head>
<body>
<nav>
    <th:block th:replace="fragments/navigator :: nav"></th:block>
</nav>
<br>


<div class="whiteboard">
    <div class="receipt">
        <h1>Indtjeningen på nuværende lejeaftaler</h1>
            <form class="receipt-form">
                <table class="skema">
        <tr>
            <th>Forventet</th>
            <th>Allerede indtjent</th>
            <th>Total</th>
        </tr>
        <tr>
            <td> <p th:text="${sumcurrentlease}"></p></td>
            <td> <p th:text="${alreadyearned}"></p></td>
            <td> <p th:text="${alreadyearned}+${sumcurrentlease}"></p></td>
        </tr>
        </table>
            </form>
    </div>
</div>

    </div>
</body>

<script>
    document.getElementById('finance').style.backgroundColor='white';
</script>


</html>