<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Startside</title>
    <link rel="stylesheet" th:href="@{style.css}"  type="text/css">

</head>
<body>
<div class="main-nav">
    <ul class="main-nav-ul">
        <li><a href="register-car.html"> Register Bil</a></li>
        <li><a href="create-renter-information.html"> Register Lejer</a></li>
        <li><a href="register-location-information.html"> Register Lokation</a></li>

    </ul>
    </div>

</body>
</html>