<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{style.css}"  type="text/css">

</head>

<body>

    <div class="login">
        <h1 id="loginH1">Indtast login oplysninger</h1>
        <div class="form">
            <p class="loginerror" th:text="${error}" th:if="${error}" style="color:red"></p>
        </div>

        <form action="/" method="post" class="form">

            <p class="loginP">Brugernavn</p>
            <input class="inputform" type="text" name="username">
            <br>
            <p class="loginP">Kode</p>
            <input class="inputform" type="password" name="password">
            <br>
            <br>
            <input class="loginInput" type="submit" value="Login">

        </form>
    </div>


</body>
</html>