 <! -- Udarbejdet af Simon -->
<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Forhåndsaftale</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{style.css}"  type="text/css">
    <link rel="stylesheet" th:href="@{fragment.css}"  type="text/css">


</head>

<body>
<br>


<nav>
    <th:block th:replace="fragments/navigator :: nav"></th:block>
</nav>

<div class="whiteboard">
    <div class="tabel">
        <h1>Registrerings formular</h1>
        <p th:name="carid" th:value="${carid}"></p>
        <div th:text="${errormessage}" th:if="${errormessage}" style="color: red"></div>
        <form action="#" th:action="@{'/registeradvanceagreement?chassisnumber='+${chassisnumber}}" th:object="${advanceagreement}" method="post">
            <label class="labelType">Vilkår:</label> <br>
            <input type="text" th:field="*{terms}" class="inputstyle"/> <br> <br>

            <label class="labelType">Kørte kilometer:</label> <br>
            <input type="number" th:field="*{kilometersDriven}" class="inputstyle"/> <br><br>

            <label class="labelType">Købsprisen:</label> <br>
            <input type="number" th:field="*{purchasePrice}" class="inputstyle"/> <br><br>

            <label class="labelType">Overkørte kilometer: </label> <br>
            <input type="number" th:field="*{extendKilometer}" class="inputstyle"/> <br><br>
            <div class="">

                <div value="" class="labelType">Vælg afhentning</div>
                <div class="">
                    <select th:field="*{locationId}" class="inputstyledrop">
                        <option  th:each="location: ${locations}"
                             th:text="${location.city}+',' + ${location.address}"
                                 th:value="${location.id}">
                         </option>
                    </select>
                </div>
            </div>
            <p>
                <input type="submit" onclick="confirmSubmit()" value="Gem" class="buttom" />
                <input type="reset"  value="Nulstil felterne" class="buttom"/></p>

        </form>
    </div>
</div>

<script>
    document.getElementById('forhåndsaftale').style.backgroundColor='white';
</script>

</body>
</html>
