<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrer Abonnement</title>
    <link rel="stylesheet" th:href="@{style.css}"  type="text/css">
    <link rel="stylesheet" th:href="@{fragment.css}"  type="text/css">

</head>
<body>
<nav>
    <th:block th:replace="fragments/navigator :: nav"></th:block>
</nav>

<div class="whiteboard">

    <div class="tabel">
        <h1>Registrer lokation</h1>
        <div th:text="${error}" th:if="${error}" style="color: red"></div>
        <form action="#" th:action="@{/register-location}" th:object="${location}" method="post">
        <div class="">

            <div value="">Vælg afhentning</div>
            <div class="">
                <select th:field="*{id}">
                    <option th:each="location: ${locations}"
                             th:text="${location.city}+',' + ${location.address}"
                             th:value="${location.id}">
                    </option>
                </select>
            </div>
        </div>
        <p>
            <input type="submit" value="Videre" class="buttom"/>
        </p>
        </form>
    </div>
</div>

<script>
    document.getElementById('ny-lejeaftale').style.backgroundColor='white';
</script>

</body>
</html>