<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Registrer Abonnement</title>
    <link rel="stylesheet" th:href="@{style.css}"  type="text/css">
    <link rel="stylesheet" th:href="@{fragment.css}"  type="text/css">
</head>

<body>
<div>
    <h1>Registrer bil</h1>

    <div th:text="${error}" th:if="${error}" style="color: red"></div>

    <form action="/get-chassis-number" method="post">
        <br>
        <br>
        stel nummer
        <br>
        <input type="number" name="chassis-number">
        <input type="submit">
    </form>

<nav>
    <th:block th:replace="fragments/navigator :: nav"></th:block>
</nav>

<div class="whiteboard">

    <h1>Registrer ny lejeaftale</h1>

    <div class="tabel">
        <form action="/get-chassis-number" method="post">
            <br>
            <br>
            Stel nummer
            <br>
            <input type="number" name="chassis-number">
            <input type="submit">
        </form>
    </div>


</div>
</body>
</html>