<!DOCTYPE HTML>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <title>Forhåndsaftale</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{style.css}"  type="text/css">
    <link rel="stylesheet" th:href="@{fragment.css}"  type="text/css">


</head>

<body>
<br>


<nav>
    <th:block th:replace="fragments/navigator :: nav"></th:block>
</nav>

<div class="whiteboard">
    <div class="tabel">
        <h1>Registrerings formular</h1>
        <p th:name="carid" th:value="${carid}"></p>
        <div th:text="${errormessage}" th:if="${errormessage}" style="color: red"></div>
        <form action="#" th:action="@{'/registeradvanceagreement?carid='+${carid}}" th:object="${advanceagreement}" method="post">
            <p>Vilkår: <input type="text" th:field="*{terms}" /></p>
            <p>Kørte kilometer: <input type="text" th:field="*{kilometersDriven}"/></p>
            <p>Købsprisen: <input type="text" th:field="*{purchasePrice}"/></p>
            <p>Afhentningssted: <input type="text" th:field="*{pickUpLocation}"/></p>
           <p><input type="submit" value="Gem" /> <input type="reset" value="Nulstil felterne" /></p>
            <a href="homepage"><button class="goto_button">
                Hjem
            </button>
            </a>
        </form>
    </div>
</div>
</body>
</html>