<!DOCTYPE HTML>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Forhåndsaftale</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{style.css}"  type="text/css">
    <link rel="stylesheet" th:href="@{fragment.css}"  type="text/css">


</head>

<body>
<br>


<nav>
    <th:block th:replace="fragments/navigator :: nav"></th:block>
</nav>

<div class="whiteboard">
    <div class="tabel">
        <h1>Registrerings formular</h1>
        <p th:name="carid" th:value="${carid}"></p>
        <div th:text="${errormessage}" th:if="${errormessage}" style="color: red"></div>
        <form action="#" th:action="@{'/registeradvanceagreement?chassisnumber='+${chassisnumber}}" th:object="${advanceagreement}" method="post">
            <p>Vilkår: <input type="text" th:field="*{terms}" /></p>
            <p>Kørte kilometer: <input type="text" th:field="*{kilometersDriven}"/></p>
            <p>Købsprisen: <input type="text" th:field="*{purchasePrice}"/></p>
            <p>Overkørte kilometer: <input type="text" th:field="*{extendKilometer}"/></p>
            <div class="">

                <div value="">Vælg afhentning</div>
                <div class="">
                    <select th:field="*{locationId}">
                        <option  th:each="location: ${locations}"
                             th:text="${location.city}+',' + ${location.address}"
                                 th:value="${location.id}">
                         </option>
                    </select>
                </div>
            </div>
            <p>
                <input type="submit" value="Gem" class="buttom" />
                <input type="reset" value="Nulstil felterne" class="buttom"/></p>
                <a href="homepage">
                    <button class="buttom"> Hjem</button>
                </a>
        </form>
    </div>
</div>

<script>
    document.getElementById('forhåndsaftale').style.backgroundColor='white';
</script>

</body>
</html>