<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Registrer Abonnement</title>
    <link rel="stylesheet" th:href="@{style.css}"  type="text/css">
    <link rel="stylesheet" th:href="@{fragment.css}"  type="text/css">
</head>

<body>

<nav>
    <th:block th:replace="fragments/navigator :: nav"></th:block>
</nav>
<div class="whiteboard">
    <h1>HAlli hallo og lige et øjeblik !!!!!!!!!!!!!!!!!!!!!!!!!</h1>

    <h1>Registrer bilr</h1>
    <form action="/get-chassis-number" method="post">
        <br>
        <br>
        stel nummer
        <br>
        <input type="number" name="chassis-number">
        <input type="submit">
    </form>

</div>
</body>
</html>