<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Returner Bil </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{fragment.css}"  type="text/css">
    <link rel="stylesheet" th:href="@{style.css}" type="text/css">
</head>

<body>
<nav>
    <th:block th:replace="fragments/navigator :: nav"></th:block>
</nav>

<div class="whiteboard">

    <div class="tabel">
        <h1>Aflever bil</h1>

        <div th:text="${error}" th:if="${error}" style="color: red"></div>


        <form action="/returncarpage" method="post">
            <br>
            <br>
            Indtast stelnummer:
            <br>
            <input type="number" name="chassis-number-input">
            <p>
                <input type="submit" value="Register" class="buttom">
                <input type="reset" value="Nulstil feltet" class="buttom"/>
            </p>
        </form>
    </div>

</div>

<script>
    document.getElementById('registrer-bil-modtaget').style.backgroundColor='white';
</script>

</body>
</html>