 <!--Udarbejdet af Simon & Elisa -->

<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kvittering </title>
    <link rel="stylesheet" th:href="@{style.css}"  type="text/css">
    <link rel="stylesheet" th:href="@{fragment.css}"  type="text/css">
</head>
<body>
<nav>
    <th:block th:replace="fragments/navigator :: nav"></th:block>
</nav>

<div class="whiteboard">
    <div class="receipt">
    <h3>Bilen blev succesfuldt opdateret</h3>
        <form class="receipt-form">
            <table class="skema">
        <tr>
        <th>Stelnummer</th>
        <th>Mærke</th>
        <th>Model</th>
        <th>Farve</th>
        </tr>

        <tr>
            <td th:text="${car.chassisNumber}"></td>
            <td th:text="${car.manufacturer}"></td>
            <td th:text="${car.model}"></td>
            <td th:text="${car.color}"></td>
        </tr>

            </table>
        </form>

         <a href="homepage"> <button class="buttom"> Hjem</button></a>
    </div>
</div>

<script>
    document.getElementById('registrer-bil-modtaget').style.backgroundColor='white';
</script>

</body>
</html>
