<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Stelnummer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{fragment.css}"  type="text/css">
    <link rel="stylesheet" th:href="@{style.css}" type="text/css">

</head>
<body>
<nav>
    <th:block th:replace="fragments/navigator :: nav"></th:block>
</nav>



<div class="whiteboard">
    <div class="tabel">
<h1>Find den bil du vil registrere skader på</h1>
        <div th:text="${error}" th:if="${error}" style="color: red"></div>
<form action="#" th:action="@{'/selectchassisnumber?key='+${key}}" method="post">
    <div class="dropdown">
        <div value="">Vælg bil</div>
        <div class="dropdown-content">
            <form action="#" th:object="${car}" method="post">
            <select th:field="*{chassisNumber}">
                <option  th:each="cars: ${availablecars}"
                         th:text="${cars.color}+ ',' + ${cars.model}+',' + ${cars.chassisNumber}"
                         th:value="${cars.chassisNumber}">
                </option>
            </select>
        </div>
    </div>
    <p><input type="submit" value="Gem" /> <input type="reset" value="Nulstil feltet" /></p>
    <a href="/"><button class="goto_button">
        Hjem
    </button>
    </a>
</form>
</a>
    </div>
</div>
</body>




</html>