<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Stelnummer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{fragment.css}"  type="text/css">
    <link rel="stylesheet" th:href="@{style.css}" type="text/css">

</head>
<body>
<nav>
    <th:block th:replace="fragments/navigator :: nav"></th:block>
</nav>


<div class="whiteboard">
    <div class="tabel">
<h1>Find den bil du vil behandle</h1>
        <div th:text="${error}" th:if="${error}" style="color: red"></div>
        <form action="#" th:action="@{'/selectchassisnumber?key='+${key}}" method="post">
            <div class="">
                <div value="" class="labelType">Vælg bil</div>
                <br>
                <div class="">
                    <form action="#" th:object="${car}" method="post">
                    <select th:field="*{chassisNumber}" class="inputstyledrop">
                        <option  th:each="cars: ${availablecars}"
                                 th:text="${cars.color}+ ', ' + ${cars.model}+', ' + ${cars.chassisNumber}"
                                 th:value="${cars.chassisNumber}">
                        </option>
                    </select>
                </div>
            </div>
            <input type="submit" value="Gem" class="buttom"/>
            <input type="reset" value="Nulstil feltet" class="buttom" />

        </form>
    </div>
</div>

<script>
    /*
    if (document.getElementById('fejl-og-mangler')){
        document.getElementById('fejl-og-mangler').style.backgroundColor='white';
    }else{
        document.getElementById('forhåndsaftale').style.backgroundColor='white';
    }
*/
</script>

</body>




</html>