<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registrer Abonnement</title>
  <link rel="stylesheet" th:href="@{style.css}"  type="text/css">
</head>
<body>

<div>
  <h1>Registrer abonnement</h1>
  <br>
  <br>
  <form action="" method="post">
    selvrisiko ja/nej
    <br>
    <input type="text" name="selfrisk">
    <br>
    afhentnings forsikring ja/nej
    <br>
    <input type="text" name="delivery_insurance">
    <br>
    total pris
    <br>
    <input type="number" name="total_price">
    <br>
    lejeperiode
    <br>
    <input type="number" name="lenght">
    <br>
    abonnements type limited/unlimited
    <br>
    <input type="text" name="subscription-type">
    <br>
    <input type="submit">

  </form>
</div>

</body>
</html>