<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registrer Abonnement</title>
  <link rel="stylesheet" th:href="@{fragment.css}"  type="text/css">
  <link rel="stylesheet" th:href="@{style.css}"  type="text/css">
</head>
<body>
<nav>
  <th:block th:replace="fragments/navigator :: nav"></th:block>
</nav>
<div class="whiteboard">

  <div class="receipt">
    <h3>Oprettede lejeaftale</h3>
    <form class="receipt-form">
    <table class="skema">
      <p class="labelType">Udlejet Bil</p>
      <tr>
        <th>Stel nummer</th>
        <th>Model</th>
        <th>Farve</th>
        <th>Status</th>
      </tr>

        <td th:text="${car.getChassisNumber}"></td>
        <td th:text="${car.getModel}"></td>
        <td th:text="${car.getColor}"></td>
        <td th:text="${car.isRentedToString(car.isRented)}"></td>

      </tr>
    </table>

    <table class="skema">
      <p class="labelType">Pickup Lokation</p>
      <tr>
        <th>Adresse</th>
        <th>By</th>
        <th>Postnummer</th>
        <th>Afhentnings Pris</th>
      </tr>

      <td th:text="${location.getAddress}"></td>
      <td th:text="${location.getCity}"></td>
      <td th:text="${location.getPostcode}"></td>
      <td th:text="${location.getDeliveryPrice}"></td>

      </tr>
    </table>

    <table class="skema">
      <p class="labelType">Lejer Info</p>
      <tr>
        <th>Fornavn</th>
        <th>Efternavn</th>
        <th>Tlf</th>
        <th>Email</th>
        <th>Adresse</th>
        <th>By</th>
        <th>Postnummer</th>
      </tr>

      <td th:text="${renter.getFirstName}"></td>
      <td th:text="${renter.getLastName}"></td>
      <td th:text="${renter.getTlf}"></td>
      <td th:text="${renter.getEmail}"></td>
      <td th:text="${renter.getAddress}"></td>
      <td th:text="${renter.getCity}"></td>
      <td th:text="${renter.getPostcode}"></td>

      </tr>
    </table>

    <table class="skema">
      <p class="labelType">Abonnement Info</p>
      <tr>
        <th>Selvrisiko</th>
        <th>Afhentnings Forsikring</th>
        <th>Pris pr mdr</th>
        <th>Abonnements Type</th>
        <th>Pickup Dato</th>
        <th>Afleverings Dato</th>
      </tr>

      <td th:text="${subscription.isSelfrisk}"></td>
      <td th:text="${subscription.isDeliveryInsurance}"></td>
      <td th:text="${subscription.getTotalPriceMd}"></td>
      <td th:text="${subscription.getSubscriptionType}"></td>
      <td th:text="${subscription.getPickupDate}"></td>
      <td th:text="${subscription.getDeliveryDate}"></td>

      </tr>
    </table>
    </form>
    <a href="homepage"><button class="buttom">Forside</button></a>
  </div>
</div>

<script>
  document.getElementById('ny-lejeaftale').style.backgroundColor='white';
</script>

</body>
</html>