<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lejede Biler</title>
    <link rel="stylesheet" th:href="@{style.css}"  type="text/css">
    <link rel="stylesheet" th:href="@{fragment.css}"  type="text/css">

</head>
<body>
<nav>
    <th:block th:replace="fragments/navigator :: nav"></th:block>
</nav>
<div class="whiteboard">
    <div class="receipt">
    <h1>Udlejede biler</h1>
        <form action="">
            <table>
                <tr>
                    <th>Stel nummer</th>
                    <th>Model</th>
                    <th>Farve</th>
                    <th>Udlejet</th>
                </tr>
                <tr th:name="rentedCars" th:each="rentedCars : ${rentedCars}">

                <td th:text="${rentedCars.getChassisNumber}"></td>
                <td th:text="${rentedCars.getModel}"></td>
                <td th:text="${rentedCars.getColor}"></td>
                <td th:text="${rentedCars.isRentedToString(rentedCars.isRented)}"></td>

                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>